<div *ngIf="isUserAuthenticated()">
    <div class="book-container">
        <h2>Book List</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{ book.name }}</td>
                    <td>{{ book.authorName }}</td>
                    <td>
                        <button>View</button>
                        <button [disabled]="book.isBorrowed" (click)="borrowBook(book.id)">Borrow</button>
                        <button [disabled]="!book.isBorrowed" (click)="returnBook(book.id)">Return</button>
                        <button (click)="deleteBook(book.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-primary" (click)="openModal(template)">Add New Book</button>

    <ng-template #template>
        <div class="modal-header">
            <h5 class="modal-title">Add New Book</h5>            
        </div>
        <div class="modal-body">
            <div class="modal-body">
                <form [formGroup]="addBookForm">
                    <div class="mb-3">
                        <label for="bookName" class="form-label">Book Name</label>
                        <input type="text" id="bookName" formControlName="name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="authorName" class="form-label">Author Name</label>
                        <input type="text" id="authorName" formControlName="authorName" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="bookSynopsis" class="form-label">Synopsis</label>
                        <textarea id="bookSynopsis" formControlName="synopsis" class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">            
            <input type="submit" class="btn btn-primary" (click)="addBook(); modalRef?.hide()" value="Save">
            <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Close</button>            
        </div>
    </ng-template>
</div>